
<!doctype html>
<html lang="en">
  <head>
    <title>ECart - Clothing, Electronics and More.</title>
    <!--link rel="stylesheet" href="css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <linl rel="stylesheet" href="css/customsignup.css">
  </head>

  <body>

    <% include ./partials/navbar %>

      <div class="container"
        <div class="row">
          <%- body -%>
        </div>

      </div>

    <% include ./partials/footer %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
