<%- layout('layout') -%>

<div class="row">
  <div class="col-lg-12 col-md-offset-3">
    <br>
    <br>
    <br>

    <% if (errors.length > 0) { %>
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismmiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= errors %>
        </div>
    <% } %>

    <form method="post">
      <h1>Sign Up to get the Best Deals</h1>
      <div class"form-group col-md-4">
        <br/>
        <label>Username: </label>
        <input type="text" class="form-control" name="name"/>

        <br/>
        <label>Email: </label>
        <input type="email" class="form-control" name="email"/>

        <br/>
        <label>Password: </label>
        <input type="password" class="form-control" name="password"/>
      </div>
      <br/>
      <button type="submit" class="btn btn-success">Sign up</button>
    </form>
    <br>
  </div>
</div>
