<%- layout('layout') -%>
<div class="jumbotron">
  <div class="col-md-12">
    <h1 class="display-4">Shop Smart, Save Big !!</h1>
    <p>Starting Point to save big.</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up Now &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h4>Start your shopping here</h4>
      <p>Sign up to start buying.</p>
    </div>
    <div class="col-md-4">
      <h4>Looking to build your own cart?</h4>
      <p>Start buying and save more.</p>
    </div>
    <div class="col-md-4">
      <h4>What else are you looking for?</h4>
      <p>Shop now to get suggestions.</p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
